*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #002339;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #112B49;
    padding: 30px;
    border-radius: 10px;
    margin: 12%;
    width: 90%;
    max-width: 700px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.highlight {
    color: #2ECC71;
    border-bottom: 2px solid #2ECC71;
}

.password-box {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px
}

input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.copy-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

.generate-btn {
    background-color: #2ECC71;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.generate-btn:hover {
    background-color: #25A25A;
}
.password-box img {
    width: 30px;
    cursor: pointer;
}

.password-box input {
    border: 0;
    outline: 0;
    font-size: 24px;
}
